* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    padding-top: 25%;
}

header h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

input, button {
    font-size: 25px;
    padding: 8px;
}

button {
    font-weight: bold;
    cursor: pointer;
}

ul {
    margin-bottom: 20px;
    font-size: 20px;    
    cursor: pointer;
}

.items{
    margin: 10px 0;
}

.itemsSelected {
    text-decoration: line-through;
}