* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

body {
    padding-top: 50px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
}

header {
    font-size: 25px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 75px;
}

table img {
    width: 30px;
}

form {
    padding: 10px;
    border-bottom: 1px solid black;
    text-align: center;
    justify-content: space-between;    
}

form input, button {
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    padding: 5px;
}

form img {
    width: 30px;
}

form button {
    background-color: green;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}

table {
    width: 100%;
}

table th{
    border-bottom: 1px solid black;
}

table td {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}